*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(135deg, #1c6de7, #4187f0);
}

h1{
    font-family: 'Calibri', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.container{
    width: 50%;
    min-width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    padding: 30px 40px;
}
#newtask{
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
#newtask input{
    width: 70%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    border: 2px solid #d1d3d4;
    padding: 10px;
    color: rgb(44, 44, 44);
    position: relative;
    border: none;
    border-bottom: 2px solid #1c6de7;
}
#newtask input:focus{
    outline: none;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color:#1c6de7;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

#newtask button:hover{
    background-color: #8052ec;
}

#tasks{
    background-color: #ffffff;
    padding: 20px 10px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #1c6de7;
    width: 100%;
    position: relative;
}
.task{
    background-color: #ffffff;
    height: 50px;
    padding: 0;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: rgb(44, 44, 44);
    text-align: center;
    cursor: pointer;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #8a13b9;
}
.task button{
    background-color: #1c6de7;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.task button:hover{
    background-color: #8052ec;
}

.completed{
    text-decoration: line-through;
}

@media only screen and (max-width: 600px){
    h1{
        font-size: 30px;
    }
    
    .container{
        width: 70%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
        display: flex;
        min-width: 300px;
    }

    #newtask button{
        font-size: 14px;
        width: 30%;
        height: 30px;
        margin-top: 10px;
        float:none;
    }

    .task span{
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px){
    h1{
        font-size: 30px;
    }
    
    .container{
        width: 60%;
    }
    
}

@media only screen and (max-width: 992px){  
    .container{
        width: 50%;
    }
}